body{
    font-family: 'Righteous', cursive;
    color: white;
    background-color: black;
}

h6{
    margin-top: 0;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
}

img.main-image{
    display: block;
    margin: auto;
    width: 15%;
    border-radius: 50%;
}

h1{
    text-align: center;
    font-size: 5em;
}

p{
    text-align: center;
    font-size: 2em;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
    margin-top: 10%;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}

li:hover a{
    padding: 0px 7px;
    border-radius: 10px;
    font-size: large;
}

li:hover:nth-child(1) a{
    background-color: honeydew;
    color: black;
}

li:hover:nth-child(2) a{
    background-color: honeydew;
    color: #0b66c2;
}

li:hover:nth-child(3) a{
    background-color: white;
    color: #1da1f2;
}

li:hover:nth-child(4) a{
    background-color: white;
    color: #a757b4;
}

li:hover:nth-child(5) a{
    background-color: white;
    color: #309940;
}

